# Dependencies
node_modules
frontend/node_modules

# Build outputs
dist
frontend/out
frontend/.next

# Development
.env
.env.local
.env.docker
*.log

# Testing
coverage
.nyc_output

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Documentation
README.md
*.md
